.page-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ====== HEADER ====== */

.haeder {
    background: #EDF2EC;
    padding: 2.625rem 0;
    font-family: 'Inika';
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: 1.3125;
}

.logo__img-wrapper {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.0625em;
    margin-bottom: 0.090625em;
    flex: 0 0 content;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo__text {
    flex-grow: 0;
    color: #000000;
}

.navbar__menu {
    line-height: 3.125;
}

.navbar-menu {
    display: flex;
    flex-basis: 29.0625rem;
    flex-wrap: wrap;
}

.navbar-menu__item {
    flex-grow: 1;
}

.navbar-menu__link {
    display: inline-block;
    padding: 0 5px;
    color: #010201;
}

.navbar-menu__link:hover {
    color: #E06733;
    transition: all 0.2s linear;
}

/* ====== WELCOME ====== */

.welcome {
    padding: 1em 0 6.8125em;
    background: #EDF2EC;
}

.welcome__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.welcome__img-wrapper {
    width: 28.0625rem;
    height: 25.5rem;
    margin-top: 1em;
}

.welcome__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome__text {
    /* margin-top: 4.125em; */
    padding: 4.125em 0 0 3.25em;
}

.welcome__title {
    margin-bottom: 2.625rem;
    font-size: 2.8125rem;
    line-height: 1.11;
    font-weight: 700;
    color: #717171;
}

.welcome__title--marked {
    color: #499A18;
}

.welcome-text__descr {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75;
    color: #CCCCCC;
}

.welcome__btn-more {
    padding: 0.75em 1.625em;
    line-height: 1.25;
}

.btn-more {
    border: 0.125rem solid #E06733;
    border-radius: 0.625rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    cursor: pointer;
}

.btn-more:hover {
    color: #FFFFFF;
    ;
    background: #E06733;
    transition: all 0.2s ease-in-out;
}

/* ====== ABOUT ====== */

.about {
    padding: 82px 0 105px;
    background-color: #fff;

}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.about__text {
    padding-top: 4.375rem;
}

.about__title {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    line-height: 1.3;
    color: #499A18;
}

.about__title--marked {
    color: #E06733;
}

.about__descr {
    font-size: 1.25rem;
    color: #636060;
}

.about__img-wrapper {
    justify-self: end;
    width: 29rem;
    height: 29.9375rem;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}